doctype html
html(lang="ja")
  head
    include partials/_meta
    
    link(rel="stylesheet" href="./css/app.css")
    
    //- include partials/_ga
    
  body
    div.wrapper
      div.stick.js-stick-container
        div.stick__toucharea.js-stick-toucharea
          div.stick__dot
    
    script(src="./js/script.js")
